/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  color: black;
}

#viz {
  border: 1px solid black;
}

circle.tows {
  stroke-width: 1;
}

.armatage {
  fill: #7fc97f;
}

.yale {
  fill: #beaed4;
}

.quincy {
  fill: #fdc086;
}
